{% extends "admin/change_form.html" %}

{% block content %}
<h2>{{account}}</h2>
<div id="content-main">
    <table class="result_list" style="width: 100%;">
        <thead>
            <tr>
                <th><div class="text">Name</div></th>
                <th><div class="text">Course</div></th>
                <th><div class="text">&nbsp;</div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jayson</td>
                <td>BSIT</td>
                <td><a class="button" href="{}">Make Leader</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}